<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/asset/css/home.css" />
  <title>Document</title>
</head>

<body>
  <div class="app">
    <div class="nav">Quản lý thành phố</div>

    <table class="score">
      <thead class="description">
        <tr>
          <th class="subject-name">Thành Phố</th>
          <th class="subject-name">Quốc gia</th>
          <th class="subject-name">Diện tích</th>
          <th class="subject-name">Dân số</th>
          <th class="subject-name">GDP</th>
          <th class="subject-name">Mô tả</th>
        </tr>
      </thead>
      <tbody class="details">
        <!-- {change} -->
      </tbody>
    </table>
    <form method="post">
      <input type="text" class="edit-form" name="namecity">
      <input type="text" class="edit-form" name="country">
      <input type="text" class="edit-form" name="area">
      <input type="text" class="edit-form" name="population">
      <input type="text" class="edit-form" name="gdp">
      <input type="text" class="edit-form" name="descriptionCity" >
      <button class="btn-edit" type="submit">Xác nhận</button>
    </form>
    <a href="/"><button class="btn-primary" type="submit">Trở lại</button></a>
  </div>
</body>

</html>